<h2>Select demo</h2>
<div>
  Question1: Your fruit?
  <vt-select #select1 [answers]="[{'value': 'apple', 'correct': false},
  {'value': 'apple2', 'correct': true}]" (changeValue)="scores.reCount('select1', $event)"></vt-select>
</div>

<div>
  Question2: How old are you?
  <vt-select #select2 [answers]="answers1" (changeValue)="scores.reCount('select2', $event)"></vt-select>
</div>

<div>
  Question2: How old are you 2?
  <vt-select #select3 [answers]="answers2"  (changeValue)="scores.reCount('select3', $event)"></vt-select>
</div>


<div *ngFor="let answers of listAnswers; let i=index">
  Question #{{i}}
  <vt-select [answers]="answers"  (changeValue)="scores.reCount('select-'+i, $event)"></vt-select>
</div>

<vt-score #scores></vt-score>

<h2>Learn words demo</h2>
<vt-words-learn #w [data] = "[{'word': 'apple', 'translation': 'яблоко'}, 
{'word': 'onomatopoeia', 'translation': 'звукоподражание'},
{'word': 'ninja', 'translation': 'Нинзя'},
{'word': 'END', 'translation': 'КОНЕЦ'}]" (window:keydown)="w.keyDown($event)"></vt-words-learn>